<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping-home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav class="header">
            <ul class="flex items-center p-3 justify-between">
               <div class="flex ">
                    <li class="mr-[10px] hover:text-white">
                        <a href=" {% url 'home' %}">Home</a>
                    </li>
                    <li class="mr-[10px] hover:text-white">
                        <a href="{% url 'add_product' %}">Add product</a>
                    </li>
               </div>
               <div class="flex">
                    <li class="mr-[10px] hover:text-white">
                        <a href=" {% url 'home' %}">Login</a>
                    </li>
                    <li class="mr-[10px] hover:text-white">
                        <a href="{% url 'add_product' %}">Register</a>
                    </li>
               </div>
            </ul>
        </nav>
    </header>

    <div>
        <h2 class="text-center font-semibold text-xl my-5">All products</h2>
      <div class="flex gap-5 justify-center">
        {% for product in products %}
        <div class="border-[2px] border-slate-500 rounded-lg p-5">
            <p>name: {{product.name}}</p>
            <p>price:{{product.price}}</p>
            <p>quantity:{{product.quantity}}</p>
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-32 h-32 object-cover mt-2">
            {% else %}
                <p>No image available</p>
            {% endif %}
           
        </div>
        
        {% endfor %}
      </div>
    </div>
</body>
</html>