<header>
    <nav class="bg-cyan-400">
        <ul class="flex items-center p-3 justify-between">
           <div class="flex ">
                <li class="mr-[10px] hover:text-white">
                    <a href=" {% url 'home' %}">Home</a>
                </li>
                <li class="mr-[10px] hover:text-white">
                    <a href="{% url 'add_product' %}">Add product</a>
                </li>
                <li class="mr-[10px] hover:text-white">
                    <a href="{% url 'view_cart' %}">Cart</a>
                </li>
                
           </div>
           <div class="flex">
                <li class="mr-[10px] hover:text-white">
                    {% if request.user.is_authenticated %}
                    <div class="flex gap-10 items-center">
                        <p class='text-white text-[14px] font-normal'>welcome {{request.user.username}}</p>
                    <a href="{% url 'logout' %}">logout</a>
                    </div>
                    
                    {% else %}
                  
                    <a href=" {% url 'login' %}">Login</a>
                    {% endif %}
                  
                </li>
                <li class="mr-[10px] hover:text-white">
                    <a href="{% url 'register' %}">Register</a>
                </li>
           </div>
        </ul>
    </nav>
</header>